---
import { Icon } from 'astro-icon';
---


<footer class="w-full bg-accent p-5">
    <h1 class="text-xl font-semibold">Links</h1>
    <div class="grid w-full p-2">
        <a class="flex items-center" href="http://github.com"><Icon class="w-5 m-1" pack="octicon" name="mark-github-16" />Github</a>
        <a class="flex items-center" href="http://instagram.com"><Icon class="w-5 m-1" pack="simple-icons" name="instagram"/>instagram</a>
        <a class="flex items-center" href="http://aldi.com"><Icon class="w-5 m-1" pack="simple-icons" name="aldinord"/>aldi</a>
    </div>
</footer>